@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa-VariableFont_wght.ttf');
}

$primary_color: #00CC00; /* green */
$second_color: #FF0000; /* red */
$third_color: #1240AB; /*dark blue*/

*{
    font-family: 'Comfortaa';

    &:selection{
        background-color: $primary_color;
    }
}

.text-justify{
    text-align: justify;
}

a{
    text-decoration: none;
    &:hover{
        color: $primary_color;
    }
}

.form-signin{
    width: 100%;
    max-width: 320px;
    padding: 15px;
    margin: auto;
}

.catalog{
    .cart-img-wrapper {
        width: auto;
        height: 300px;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .card-title{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 50px;
    }

    .card-text{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 70px;
    }

}

ul.list-style-inside{
    list-style: inside;
}


.color-primary,
.hover-color-primary:hover{
    color: $primary_color;
}

.bg-color-primary{
    background-color: $primary_color;
}


.color-second,
.hover-color-second:hover{
    color: $second_color;
}

.bg-color-second{
    background-color: $second_color;
}


.color-link,
.hover-color-link:hover{
    color: $third_color;
}

.bg-color-link{
    background-color: $third_color;
}

.basket-btn-remove-item{
    border-radius: 4px;
    background: $third_color;
    border: none;
    color: white;
    width: 28px;
}
.basket-btn-add-item{
    border-radius: 4px;
    background: $second_color;
    border: none;
    color: white;
    width: 28px;
}
